@tailwind base;
@tailwind components;
@tailwind utilities;

@import  "themes/light.css";
@import  "themes/dark.css";

@font-face {
  font-family: 'Finger Paint';
  src: url('../public/fonts/fingerpaint/FingerPaint-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/inter/Inter-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik';
  src: url('../public/fonts/rubik/Rubik-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
} 
@font-face {
  font-family: 'Rubik';
  src: url('../public/fonts/rubik/Rubik-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
} 
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base {
  html {
    --color-primary: "#2C2838";
    @apply scroll-smooth bg-main bg-cover bg-fixed bg-primary text-custom-white font-inter uppercase;
  }
  h1 {
    @apply font-primary;
  }
  h2 {
    @apply font-primary uppercase text-5xl md:text-[64px];
  }
  h3 {
    @apply font-primary uppercase text-4xl md:text-[54px];
  }
  h4 {
    @apply font-primary uppercase text-2xl md:text-3xl;
  }
}

html {
  scroll-behavior: smooth;
}

@keyframes shimmer {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 200% 0%;
  }
}

/* Wallet Adapter */

.wallet-adapter-modal-wrapper { 
  @apply !rounded-sm !bg-opacity-90 !uppercase;
}
.wallet-adapter-modal-wrapper h1{ 
  @apply !text-white;
}
.wallet-adapter-button { 
  @apply hover:!bg-opacity-100;
}
.wallet-adapter-modal-button-close{
  @apply !bg-transparent;
}

/*  Layout  */

.row-centered {
  @apply flex items-center justify-center;
}
.row-between {
  @apply flex items-center justify-between;
}
.row-start {
  @apply flex items-start justify-start;
}
.row-evenly {
  @apply flex items-center justify-evenly;
}
.row-around {
  @apply flex items-center justify-around;
}
.col-centered {
  @apply flex flex-col items-center justify-center;
}
.col-start {
  @apply flex flex-col items-start justify-start;
}
.col-evenly {
  @apply flex flex-col items-center justify-evenly;
}
.col-around {
  @apply flex flex-col items-center justify-around;
}

/* Animations */
.transition-1000{
  @apply transition-all duration-1000;
}
.transition-500{
  @apply transition-all duration-500;
}
.transition-300{
  @apply transition-all duration-300;
}
.transition-200{
  @apply transition-all duration-300;
}

/* Custom */
.absolute-center {
  @apply absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2;
}
.max-w {
  @apply max-w-[1920px] self-center;
}
.hover-fill-yellow {
  @apply transition-all duration-200 fill-white group-hover:fill-h-yellow-400;
}
.nav-bg {
  background: rgba(47, 46, 61, 0.85);
}
.mobile-nav {
  border-radius: 24px 0px 0px 24px;
  background: rgba(47, 46, 61, 0.8); 
} 
